* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 25px;
  height: 40vh;
  margin-bottom: 10px;
  /* background: lightblue; */
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lightcoral; */
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

.date,
.source-name {
  font-size: 1.5rem;
  color: #8ba0ce;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.far,
.fas {
  cursor: pointer;
}

.fas-star {
  display: none;
}

.star-color {
  color: red;
}

/* collection css */
h1 {
  text-align: center;
  background: #333333;
  color: #fff;
  padding: 15px;
}
